.container {
  max-width: 1200px;
  margin: 80px auto 20px;
  padding: 40px 0 20px;
  background-color: $sec-bg;
  border: 1px solid $bd-default;
  box-shadow: 0 2px 4px $shdw-default;
  min-height: 100vh;
}
