.mypage {
    &__section {
        // flex-basis: calc(50% - 10px);
        width: calc(50% - 10px);
        margin: 0 2px 20px;

        @media only screen and (max-width: 1200px) {
            flex-basis: 100%;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            margin: 5px;
            white-space: nowrap;

            @media screen and (max-width: 400px) {
                margin: 5px;
                white-space: normal;
            }
        }

        a {
            color: $txt-nav-bright;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;
            position: relative;
            margin-right: 10px;

            @media screen and (max-width: 600px) {
                font-size: 20px;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: transparent;
                transition: width 0.3s;
            }

            &:hover::before {
                width: 100%;
                background-color: $btn-bg-bright;
            }

            &:active {
                background-color: $txt-link-bg;
                color: $txt-nav-active;
                transition: none;
            }
        }
    }
}
